.toc details summary,
.toc details[open] summary {
    cursor: pointer;
}

.footer {
    flex-wrap: wrap;
}

.footer span:last-of-type {
    width: 100%;
    display: block;
    font-size: 0.85em;
    opacity: 0.8;
}
